@import "./variables";

/* 가상클래스 */
@mixin pseudo($content, $width, $height) {
  content: $content;
  display: block;
  width: $width;
  height: $height;
}
/* position : center */
@mixin positionCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* flex vertical center */
@mixin flexCenter($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

/* text ellipsis */
@mixin ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@mixin ellipsisMulti($line) {
  display: -webkit-box;
  -webkit-line-clamp: $line; // 여러줄 이상 ellipsis
  -webkit-box-orient: vertical;
  white-space: normal;
  vertical-align: baseline;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 미디어쿼리 분기점 */
//Break Point
$max-mobile: 767px;
$max-tablet: 1023px;

// 모바일 : 최대 767px 까지
@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

// 태블릿 : 최대 1023px 까지
@mixin tablet {
  @media (max-width: #{$max-tablet}) {
    @content;
  }
}

