@import "./variables";

/* 가상클래스 */
@mixin pseudo($content, $width, $height) {
  content: $content;
  display: block;
  width: $width;
  height: $height;
}
/* position : center */
@mixin positionCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* flex vertical center */
@mixin flexCenter($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

/* text ellipsis */
@mixin ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@mixin ellipsisMulti($line) {
  display: -webkit-box;
  -webkit-line-clamp: $line; // 여러줄 이상 ellipsis
  -webkit-box-orient: vertical;
  white-space: normal;
  vertical-align: baseline;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 미디어쿼리 분기점 */
//모바일 : 최소 '모바일'사이즈부터 ~ 최대 '모바일에서 태블릿'사이즈까지
@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tabletToMobile - 1px}) {
    @content;
  }
}

// 태블릿 : 최소'태블릿'사이즈부터 ~ 최대 '태블릿에서 데스크탑'사이즈까지
@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktopToTablet - 1px}) {
    @content;
  }
}
