@import "./reset.scss", "./mixin", "./variables";

/* Web Font */
@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* 공통 레이아웃 */
* {
  scroll-behavior: smooth;
}
body {
  position: relative;
  box-sizing: border-box;
  font-family: $primary-kr;
  font-size: $text-md;
  font-weight: $regular;
  line-height: $line-height-body;
  color: $black;
  overflow-x: hidden;
}
.container {
  padding: 0 $container-p;
  max-width: 1080px;
  margin: 0 auto;
  @include flexCenter(center);
}

a {
  color: $black;
  cursor: pointer;
}

li,button {
  cursor: pointer;
}

/* 로고 영역 */
.logo {
  height: 100%;
  width: 152px;
  a img {
    width: 100%;
    height: 100%;
  }
}

.title {
  font-family: 'Roboto';
  font-size: $title-md;
  font-weight: $semibold;
  line-height: $line-height-title;
  color: $yellow;
}
.title.hide {
  font-size: 0;
}
.sub-title {
  font-size: $text-lg;
  margin-top: 24px;
}

.btn {
  border-radius: 20px;
  padding: $btn-go-p;
  background-image: url('../img/arrow-right.png');
  background-repeat: no-repeat;
  background-position: right 16px center;
  padding-right: 68px;
  transition: 0.3s;
  border: 1px solid #F5A706;
  cursor: pointer;
  &:hover:not(.btn-join) {
    animation: btnhover 1.5s infinite linear;
    background-color: #fff;
  }
}


/* #### 헤더 영역 #### */
#header {
  width: 100%;
  height: 78px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: $white;
  .container {
    @include flexCenter(space-between);
    /* 헤더 nav 영역 */
    nav .nav-list {
      height: 78px;
      @include flexCenter(space-between);
      gap: 48px;
      li {
        // border: 1px solid red;
        padding: 0 16px;
        display: flex;
        align-items: center;
        height: 100%;
        font-size: $text-lg;
        cursor: pointer;
        position: relative;
        &:hover .sub-menu {
          display: block;
        }
        .sub-menu {
          position: absolute;
          left: 0;
          top: 100%;
          z-index: 1000;
          width: 140px;
          border: 1px solid $gray;
          background-color: $white;
          display: none;
          li {
            font-size: $text-md;
            padding: 0;
            a {
              display: block;
              padding: 16px 16px;
              width: 100%;
              &:hover {
                color: $orange;
              }
            }
          }
        }
      }
    }
    .language-inner {
      position: relative;
      font-size: $text-sm;
      .lang {
        display: inline-block;
        border: 1px solid $gray;
        padding: 8px 24px 8px 8px;
        &:after {
          content: '';
          position: absolute;
          width: 8px;
          height: 8px;
          background-image: url(../img/arrow-row.png);
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
          margin-left: 8px;
          transform: translateY(4px);
        }
      }
      .lang-list {
        display: none;
        position: absolute;
        z-index: 100;
        top: 100%;
        left: 0;
        right: 0;
        text-align: center;
        border: 1px solid $gray;
        border-top: none;
        &.active {
          display: block;
        }
        li {
          border-bottom: 1px solid $gray;
          width: 100%;
          background-color: $white;
          a {
            display: inline-block;
            width: 100%;
            padding: 8px 0;
          }
        }
        li:last-child {
          border: none;
        }
      }
    }
    .mobile-open-btn {
      display: none;
    }
  }
}
.mobile-menu {
  display: none;
}


/* #### 메인 영역 #### */
/* #### section : visual #### */
#visual {
  position: relative;
  .visual-slider {
    .swiper-wrapper {
      width: 100%;
      height: 100vh;
      transition-timing-function: linear;
      .swiper-slide {
        position: relative;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  /* Swiper slide 페이지 버튼 커스텀 */
  .swiper-pagination .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.904)
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $gray;
  }
}


/* #### section : brand #### */
#brand {
  .container {
    padding: $content-p $container-p;
    flex-direction: column;
    text-align: center;
    /* 서브 로고 이미지 */
    .sub-logo {
      width: 129px;
      height: 113px;
      transform: translateY(100px);
      opacity: 0;
      transition: 1s;
      &.active {
        transform: translateY(0);
        opacity: 1;
      }
      img {
        width: inherit;
        height: inherit;
      }
    }
    /* 브랜드 타이틀 & 세부 설명 */
    .brand-title {
      margin-top: 48px;
      color: $orange;
      transform: translateY(100px);
      opacity: 0;
      transition: 1s;
      &.active {
        transform: translateY(0);
        opacity: 1;
      }
      div {
        font-size: $title-sm;
        font-weight: $semibold;
        margin-bottom: 16px;
      }
      span {
        font-size: $text-lg;
      }
    }
    .brand-desc {
      padding: 48px 0;
      line-height: 140%;
      transform: translateY(100px);
      opacity: 0;
      transition: 1s;
      &.active {
        transform: translateY(0);
        opacity: 1;
      }
    }
    .btn-brand {
      transform: translateY(100px);
      opacity: 0;
      transition: 1s;
      &.active {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}

/* #### section : menu #### */
#menu {
  background-image: url('../img/menu-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    padding: $content-p $container-p;
    flex-direction: column;
    gap: 48px;
    /* 메뉴 리스트 */
    .menu-list ul {
      width: 100%;
      @include flexCenter(center);
      gap: 24px;
      .list-title {
        padding: $li-p;
        @include ellipsis;
        &.active a {
          color: $orange;
          font-weight: $semibold;
        }
      }
    }
    /* 메뉴 리스트 아이템 */
    .menu-slider {
      width: calc(100% - 128px);
      height: auto;
      display: none;
      position: relative;
      &.active {
        display: block;
      }
      .swiper-wrapper {
        transition-timing-function: linear;
        padding-top: 10px;
        /* 카드 아이템 */
        .card-item a {
          padding: $li-p;
          display: inline-block;
          border: 1px solid $gray;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          overflow: hidden;
          transition: 0.5s;
          &:hover {
            transform: translateY(-10px);
          }
          .item-img {
            border-bottom: 1px solid $gray;
            img {
              width: 100%;
              aspect-ratio: 1 / 1;
            }
          }
          .item-desc {
            padding: 16px 0;
            height: 100%;
            span {
              display: block;
              margin-bottom: 8px;
              font-family: $primary-en;
              font-size: $text-sm;
              @include ellipsisMulti(1);
            }
            b {
              font-weight: 500;
            }
            p {
              font-size: $text-sm;
              line-height: $line-height-body;
              margin-top: 16px;
              @include ellipsisMulti(2);
            }
          }
        }
      }
      /* 슬라이드 버튼 커스텀 */
      .swiper-btn-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        right: -64px;
        background-image: url('../img/swiper-right.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
      }
      .swiper-btn-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        left: -64px;
        background-image: url('../img/swiper-left.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
      }
    }
  }
}

/* #### section : store #### */
#store {
  .container {
    padding: $content-p $container-p;
    flex-direction: column;
    .store-scroll {
      transform: translateX(-100px);
      opacity: 0;
      transition: 1s;
      &.active {
        transform: translateY(0);
        opacity: 1;
      }
    }
    .store-inner {
      margin-top: 48px;
      width: 100%;
      gap: 24px;
      display: flex;
      /* 검색 버튼 */
      .search {
        width: 50%;
        @include flexCenter(center);
        form {
          position: relative;
          input[type=search] {
            width: 326px;
            height: 44px;
            padding: 0 100px 0 40px;
            border: none;
            border-bottom: 1px solid $black;
            background-image: url('../img/icon-map.png');
            background-position: left 8px center;
            background-repeat: no-repeat;
            background-size: 24px 24px;
            -webkit-appearance: textfield; /* 기본(네이티브) 모양을 제거 */
            &::-webkit-search-cancel-button,
            &::-webkit-search-results-button {
              display: none; /* x 버튼 숨기기 */
            }
            &:focus {
              outline: none;
            }
          }
          .btn-search {
            position: absolute;
            bottom: 8px;
            right: 8px;
            border: 1px solid $black;
            border-radius: 20px;
            padding: 4px 8px;
            background-color: transparent;
            font-size: $text-sm;
            cursor: pointer;
          }
        }
      }
      /* 구글 맵 */
      .google-map {
        width: 50%;
        iframe {
          width: 100%;
        }
      }
    }
  }
}

/* #### section : notice #### */
#notice {
  background-color: $orange;
  padding: $content-p 0;
  @include flexCenter(flex-end);
  /* Notice 콘텐츠 */
  .notice-bg-inner {
    position: relative;
    background-color: $white;
    width: 1500px;
    padding: 120px 0;
    right: -1500px;
    transition: 1s;
    &.active {
      right: 0;
    }
    .contents {
      @include flexCenter(center);
      gap: 120px;
      width: 1080px;
      .left {
        text-align: center;
        padding: 24px;
        .btn-notice {
          display: inline-block;
          margin-top: 24px;
        }
      }
      .right .notice-list {
        & li + li {
          margin-top: 24px;
        }
        li {
          width: 100%;
          padding: 8px 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 16px;
          border-bottom: 1px solid $black;
          cursor: pointer;
          a {
            width: 100%;
            background-image: url('../img/arrow-right.png');
            background-position: right center;
            background-repeat: no-repeat;
            span {
              display: inline-block;
              width: 80%;
              @include ellipsis;
            }
          }
        }
      }
    }
  }
}

/* #### section : join #### */
#join {
  width: 100%;
  background-image: url('../img/join-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: $content-p 0;
  @include flexCenter(center);
  .join-inner {
    padding: 48px 24px;
    background-color: $yellow;
    border-radius: 50px;
    @include flexCenter(center);
    flex-direction: column;
    gap: 48px;
    text-align: center;
    div:nth-child(1) {
      font-size: $title-lg;
      font-weight: $semibold;
      line-height: $line-height-title;
      color: $white;
      text-shadow: 1px 1px 3px $orange;
    }
    div:nth-child(2) {
      font-size: $title-sm;
      font-weight: $semibold;
      line-height: 1.4;
    }
    .btn-join {
      background-color: transparent;
      border-radius: 20px;
      border: 1px solid $black;
      &:hover {
        background-color: $white;
        border: 1px solid $yellow;
      }
    }
  }
}

/* #### Footer #### */
#footer {
  .container {
    font-size: $text-sm;
    padding: 80px $container-p;
    @include flexCenter(space-between);
    align-items: last baseline;
    /* footer 왼쪽 */
    .left {
      .logo {
        margin-bottom: 48px;
      }
      .company-info {
        & + dl {
          padding-top: 16px;
        }
        dt, dd {
          display: inline-block;
        }
        dt {
          min-width: 100px;
        }
      }
    }
    /* footer 오른쪽 */
    .right {
      text-align: right;
      .sns-icon {
        @include flexCenter(flex-end);
        gap: 24px;
        a {
          width: 44px;
          img {
            width: 100%;
          }
        }
      }
      .user-info {
        @include flexCenter(flex-end);
        margin: 48px 0 24px 0;
        gap: 24px;
        li {
          padding: $li-p;
        }
      }
    }
  }
}


/* #### 미디어쿼리 분기점 #### */

@include tablet {
  /* #### 공통영역 #### */
  /* 타이틀  */
  .title {
    font-size: $title-md-m;
  }

  /* 로고  */
  .logo {
    height: auto;
    width: 132px;
    a img {
      width: 100%;
      height: 100%;
    }
  }

  /* #### 헤더 영역 #### */
  #header {
    height: auto;
    .container {
      /* 헤더 nav */
      nav .nav-list {
        display: none;
      }
      .language-inner {
        display: none;
      }
      .mobile-open-btn {
        display: block;
        position: relative;
        width: 24px;
        height: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        span {
          width: 100%;
          height: 2px;
          background-color: $black;
          position: absolute;
          top: 0;
          left: 0;
          &:nth-child(2) {
            top: 50%;
            left: 0;
          }
          &:nth-child(3) {
            top: 100%;
            left: 0;
          }
        }
      }
    }
  }
  .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: $white;
    top: -100%;
    transition: 0.5s;
    &.active {
      top: 0;
    }
    .mobile-menu-inner {
      padding: 0 $container-p;
      /* 모바일 메뉴 상단 */
      div {
        height: auto;
        display: flex;
        align-items: center;
        .logo {
          margin: 0 auto;
          height: auto;
        }
        .mobile-close-btn {
          position: relative;
          width: 24px;
          height: 20px;
          cursor: pointer;
          span {
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $black;
            &:nth-child(1) {
              top: 50%;
              left: 0;
              transform: rotate(45deg);
            }
            &:nth-child(2) {
              top: 50%;
              left: 0;
              transform: rotate(-45deg);
            }
          }
        }
      }
      /* 모바일 메뉴 리스트 */
      .mobile-menu-list {
        .dropdown-toggle {
          border-bottom: 1px solid $gray;
          & > a {
            width: 100%;
            padding: 24px 0;
            display: block;
            position: relative;
            font-weight: $semibold;
            &:after {
              content: '';
              position: absolute;
              width: 24px;
              height: 24px;
              background-image: url(../img/arrow-row.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: 100%;
              right: 0;
              transition: 0.3s;
            }
            &.active:after {
              transform: rotate(180deg);
            }
          }
          .mobile-menu-sub {
            display: none;
            li a {
              padding: 16px 0;
              display: block;
            }
          }
        }
      }
    }
  }

  /* #### 메인 영역 #### */
  /* #### section : visual #### */
  #visual {
    .visual-slider .swiper-wrapper .swiper-slide {
      p {
        width: 100%;
        text-align: center;
        font-size: $title-lg-m;
        span {
          font-size: $title-sm-m;
        }
      }
    }
  }

  /* #### section : brand #### */
  #brand {
    /* 브랜드 타이틀 세부설명 */
    .container {
      .brand-title {
        div {
          font-size: $title-sm-m;
        }
      }
    }
  }
  
  /* #### section : menu #### */
  #menu {
    .container {
      /* 메뉴 리스트 아이템 */
      .menu-slider {
        .swiper-wrapper {
          transition-timing-function: linear;
          padding-top: 10px;
          /* 카드 아이템 */
          .card-item a .item-desc {
            padding: 16px 0;
            b {
              font-size: $text-md;
            }
          }
        }
      }
    }
  }

  /* #### section : store #### */
  #store {
    .container {
      .store-inner {
        margin-top: 48px;
        width: 100%;
        gap: 24px;
        display: flex;
        /* 검색 버튼 */
        .search form {
          input[type=search] {
            width: 100%;
          }
        }
        /* 구글 맵 */
        .google-map {
          width: 50%;
          iframe {
            width: 100%;
          }
        }
      }
    }
  }

  /* #### section : notice #### */
  #notice {
    @include flexCenter(center);
    /* Notice 콘텐츠 */
    .notice-bg-inner {
      background-color: $white;
      width: 100%;
      padding: 120px 24px;
      right: 0;
      transition: 1s;
      box-sizing: border-box;
      .contents {
        @include flexCenter(center);
        width: 100%;
        gap: 48px;
        .left {
          padding: 24px 0;
        }
      }
    }
  }

  /* #### section : join #### */
  #join {
    .join-inner {
      padding: 48px 24px;
      gap: 48px;
      text-align: center;
      div:nth-child(1) {
        font-size: $title-lg-m;
      }
      div:nth-child(2) {
        font-size: $title-sm-m;
      }
    }
  }

  /* #### Footer #### */
  #footer {
    .container {
      /* footer 오른쪽 */
      .right .sns-icon {
        gap: 24px;
        a {
          width: 36px;
        }
      }
    }
  }
}


/* #### 모바일 분기점 #### */
@include mobile {
  /* #### 공통영역 #### */
  /* 로고  */
  .logo {
    height: auto;
    width: 120px;
  }

  .container {
    padding: $container-p-m;
  }

  /* #### 헤더 영역 #### */
  #header {
    height: auto;
    .container {
      padding: 0 $container-p;
      /* 헤더 nav */
      nav .nav-list {
        display: none;
      }
      .language-inner {
        display: none;
      }
      .mobile-open-btn {
        display: block;
        position: relative;
        width: 24px;
        height: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        span {
          width: 100%;
          height: 2px;
          background-color: $black;
          position: absolute;
          top: 0;
          left: 0;
          &:nth-child(2) {
            top: 50%;
            left: 0;
          }
          &:nth-child(3) {
            top: 100%;
            left: 0;
          }
        }
      }
    }
  }
  .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: $white;
    top: -100%;
    transition: 0.5s;
    &.active {
      top: 0;
    }
    .mobile-menu-inner {
      padding: 0 $container-p;
      /* 모바일 메뉴 상단 */
      div {
        height: auto;
        display: flex;
        align-items: center;
        .logo {
          margin: 0 auto;
          height: auto;
        }
        .mobile-close-btn {
          position: relative;
          width: 24px;
          height: 20px;
          cursor: pointer;
          span {
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $black;
            &:nth-child(1) {
              top: 50%;
              left: 0;
              transform: rotate(45deg);
            }
            &:nth-child(2) {
              top: 50%;
              left: 0;
              transform: rotate(-45deg);
            }
          }
        }
      }
      /* 모바일 메뉴 리스트 */
      .mobile-menu-list {
        .dropdown-toggle {
          border-bottom: 1px solid $gray;
          & > a {
            width: 100%;
            padding: 24px 0;
            display: block;
            position: relative;
            font-weight: $semibold;
            &:after {
              content: '';
              position: absolute;
              width: 24px;
              height: 24px;
              background-image: url(../img/arrow-row.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: 100%;
              right: 0;
              transition: 0.3s;
            }
            &.active:after {
              transform: rotate(180deg);
            }
          }
          .mobile-menu-sub {
            display: none;
            li a {
              padding: 16px 0;
              display: block;
            }
          }
        }
      }
    }
  }

  /* #### section : brand #### */
  #brand {
    /* 브랜드 타이틀 세부설명 */
    .container {
      padding: $content-p $container-p-m;
    }
  }

  /* #### section : menu #### */
  #menu {
    .container {
      /* 메뉴 리스트 */
      .menu-list ul {
        gap: 16px;
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        .list-title {
          padding: $li-p-m;
          @include ellipsis;
          &.active a {
            color: $orange;
            font-weight: $semibold;
          }
        }
      }
      /* 메뉴 리스트 아이템 */
      .menu-slider {
        width: calc(100% - 32px);
        height: auto;
        .swiper-wrapper {
          transition-timing-function: linear;
          padding-top: 10px;
          /* 카드 아이템 */
          .card-item a .item-desc {
            b {
              @include ellipsis;
            }
          }
        }
        /* 슬라이드 버튼 커스텀 */
        .swiper-btn-next {
          width: 24px;
          height: 24px;
          right: -40px;
        }
        .swiper-btn-prev {
          width: 24px;
          height: 24px;
          left: -40px;
        }
      }
    }
  }

  /* #### section : store #### */
  #store {
    .container {
      .store-inner {
        gap: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 검색 버튼 */
        .search {
          width: 100%;
          form input[type=search] {
            width: 100%;
          }
        }
        /* 구글 맵 */
        .google-map {
          width: 100%;
          iframe {
            width: 100%;
          }
        }
      }
    }
  }

  /* #### section : notice #### */
  #notice {
    @include flexCenter(center);
    padding: $content-p 0;
    /* Notice 콘텐츠 */
    .notice-bg-inner {
      background-color: $white;
      width: 100%;
      padding: $container-p-m;
      right: 0;
      left: 0;
      transition: 1s;
      .contents {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 45px;
        padding: 48px 0;
        .left {
          padding: 0;
        }
        .right {
          width: 100%;
          padding-bottom: 24px;
        }
      }
    }
  }

  /* #### section : join #### */
  #join {
    padding: $content-p 0;
    @include flexCenter(center);
    width: 100%;
    .join-inner {
      padding: 48px 16px;
      gap: 48px;
      text-align: center;
      div:nth-child(1) {
        font-size: $title-lg-m;
      }
      div:nth-child(2) {
        font-size: $title-sm-m;
      }
    }
  }
  /* #### Footer #### */
  #footer {
    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 48px;
      padding: 80px $container-p-m;
      .left {
        text-align: center;
        .logo {
          margin: 0 auto;
          margin-bottom: 48px;
        }
      }
      /* footer 오른쪽 */
      .right {
        text-align: center;
        .sns-icon {
          justify-content: center;
          gap: 16px;
          a {
            width: 24px;
          }
        }
        .user-info {
          justify-content: center;
          li {
            padding: $li-p-m;
          }
        }
      }
    }
  }
}


/* #### 키프레임 에니메이션 #### */
/* 버튼 hover */
@keyframes btnhover {
  0% {
    box-shadow: 0px 3px 5px #F5A706;
    background-position: right 16px center;
  }
  50% {
    box-shadow: 1px 3px 12px #F5A706;
    background-position: right 10px center;
  }
  100% {
    box-shadow: 0px 3px 7px #F5A706;
    background-position: right 16px center;
  }
}